.promo {
    min-height: 800px;
    background: url(/vitaliknew34.github.io/src/img/background.jpg) center center/cover no-repeat;
    padding: 150px 0 135px 0;
    &_heading {
        color: $color-text1;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 60px;
        line-height: 60px;
        margin: 0;
        text-align: center;
    }
    &_subheading  {
        color: $color-text1;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 36px;
        line-height: 36px;
        margin: 0;
        margin-top: 22px;
        text-align: center;
    }
    
    &_descr {
        color: $color-text1;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
        margin-top: 23px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 425px) {
    .promo {
        min-height: 400px;
        padding: 80px 0 35px 0;
        &_heading {
            font-size: 30px;
            line-height: 1.2;
        }
        &_subheading {
            font-size: 20px;
        }
        
        &_descr {
           display: none;
        }
    }    
}

