.reason {
    margin: 70px 0 116px 0;
    &_img {
        float: left;
        width: 113px;
        height: 113px;
        background-color: #1eacc7;
        border-radius: 100%;
        padding: 20px;
    }
    &_item_subtitle {
       /*  font-family: Roboto; */
        font-size: 19px;
        line-height: 21px;
        font-weight: 400;
        color: #1eacc7;
        margin: 0 0 0 0;
        padding: 0 0 0 149px;
    }
    &_item_text {
        /* width: 343px; */
        font-size: 15px;
        line-height: 21px;
        font-weight: 300;
        color: #202020;
        text-align: justify;
        margin: 0px 0px 35px 149px;
    }
}
.label {
    width: 112px;
    height: 24px;
    display: block;
    background-color: black;
    margin: 0 auto;
    font-size: 11px;
   /*  line-height: 68px;
    font-weight: 100; */
    text-transform: uppercase;
    color: $color-text1;
    border: none;
    &_white {
        color:black;
        background-color: white;
    }
}
@media only screen and (min-width: 320px) and (max-width: 575px) {
    .reason {
       /*  margin-bottom: 50px; */
        .title {
            font-size: 14px;
        }
        &_img {
            display: block;
            margin: 25px auto;
            float: none;
        }
        &_item_subtitle {
           padding: 0;
        }
        &_item_text {
          margin: 0;
        }
    }
}
