.world {
    /* display: grid; */
    position: relative;
    min-height: 717px;
    background: url(/src/img/bg/map.jpg) center no-repeat,
    #080816;
    padding: 49px 0;
    &_link {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 26px;
        font-size: 15px;
        line-height: 68px;
        font-weight: 400;
        text-transform: uppercase;
        color: #1fbad6;
        text-decoration: none;
    }
}
@media (max-width: 575px) {
    .world {

        &_link {
            width: 100%;
            text-align: center;
            left: 0;
            transform: translateX(-0%);
           
        }
    }
}