.choice {
    position: relative;
    width: 100%;
    min-height: 895px;
    background: url(ubercourse/src/img/bg/rectangle_20_142.jpg) center (center / cover) no-repeat;
   /*  background-size: 100px/100px ; */
    padding-top: 57px;
}
.choice_img {
    position: relative;
    display: block;
    margin: 0 auto;
    z-index: 2;
}
.choice_descr {
    position: relative;
    text-align: center;
}
.block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 499px;
    z-index: 1;
    background: #070716 ;
}
@media  (max-width: 767px) {
    .choice_img {
        width: 100%;
    }
}
@media  (max-width: 575px) {
    .choice_img {
        width: 100%;
    }
}
