.footer {
    padding: 14px 0 0 0;
    &_border {
        margin: 0 auto;
        width: 300px;
        border-top: 4px solid #1fbad6;
    }
    &_wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 160px;
    }
    &_social {
        width: 33%;
        display: flex;
        &_img {
            width: 32px;
            height: 32px;
            display: block;
            background-color: black;
            padding: 7px;
            border-radius: 100% ;
            margin-right: 10px;;
        }
    }
}


.footer_links { 
    width: 390px;
    max-width: 33%;
    text-align: center;
}
.footer_links_main {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    padding: 0 10px;
}
.footer_links_sub {
    display: flex;
    justify-content: space-between;
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 10px;
}
.footer_link {
    text-decoration: none;
    /* color: #070716; */
    &_black {
        color: #070716; 
    }
    &_grey {
        color: #999999;
    }
} 

.footer_lang {
    margin-top: 19px;
}
.footer_lang_link {
    display: block;
    text-decoration: none;
    color: #1fbad6;
    font-size: 11px;
    /* font-weight: 400; */
    text-transform: uppercase;
}
.footer_loading {
    width: 33%;
    display: flex;
    justify-content: flex-end;
}
@media (max-width: 767px ){
    .footer_wrapper {
        flex-direction: column;
    }
    .footer_social {
        width: 100%;
        justify-content: center;
    }
    
    .footer_links {
        width: 70%;
        max-width: 100%;
        padding: 10px;
        order: -1;
    }
    .footer_links_main {
    }
    .footer_link {
    }
    .footer_link_black {
    }
    .footer_links_sub {
    }
    .footer_link_grey {
    }
    .footer_lang {
    }
    .footer_lang_link {
    }
    .footer_loading {
        width: 100%;
        justify-content: center;
        padding: 10px;
    }
}
@media (max-width: 575px) {
    .footer {
        .footer_links {
            width: 100%;
        }
        .footer_links_main{
            font-size: 15px;
        }
        .footer_links_sub {
            width: 80%;
        flex-wrap: wrap;
        margin: 15px auto;
        font-size: 13px;
        line-height: 28px;
        }
    }
}