.require {
    padding: 68px 0 0 0;
}
.require_subtittle {
    font-size: 22px;
    line-height: 24px;
    font-weight: 400;
    color: red;
    &_blue {
        color: #1ca8c3;
    }    
}
.list {
    list-style-type: none;
   /*  margin-bottom: 62px; */
}
.list_item_blue, .list_item {
    display: flex;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    padding-bottom: 14px;
    
}

.list_item_blue:before {
    content: url(/src/icons/chek.png);
    display: block;
    width: 21px;
    height: 20px;
    /* float: left; */
    margin-right: 10px;
}
.list_item:before {
    content: url(/src/icons/chek-red.png) ;
    display: block;
    width: 21px;
    height: 20px;
    margin-right: 10px;
}
.require_descr {
    font-size: 17px;
    font-weight: 300;
    color: #1ca8c3;
    padding-bottom: 62px;
}
