.title {
    position: relative;
    /* font-family: Roboto; */
    font-size: 38px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
    text-align: center;
    z-index: 2;
    &_white {
        color: white;
    }
}