@charset "UTF-8";
* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

.subheader_btn, .promo_btn {
  border: none;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
}

.subheader_btn {
  margin-top: 19px;
  width: 172px;
  height: 46px;
  -webkit-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .subheader_btn {
    width: 130px;
    height: 40px;
  }
}

.promo_btn {
  display: block;
  margin: 118px auto 0 auto;
  width: 259px;
  height: 63px;
  -webkit-box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
  font-size: 18px;
}

.header {
  position: relative;
}

@media only screen and (min-width: 320px) and (max-width: 575px) {
  .header {
    height: 30px;
  }
}

.nav {
  height: 50px;
  background-color: #212121;
}

@media only screen and (min-width: 320px) and (max-width: 575px) {
  .nav {
    height: 30px;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none;
}

.menu_item {
  border-right: 2px dotted black;
  padding-right: 28px;
}

.menu_item:last-child {
  border-right: none;
}

.menu_link {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
  text-decoration: none;
}

.menu_link:hover {
  color: gray;
}

.hamburger-menu {
  display: none;
  /* скрываем чекбокс */
  /* стилизуем кнопку */
  /* добавляем "гамбургер" */
  /* контейнер меню */
  /* элементы меню */
}

.hamburger-menu #menu__toggle {
  opacity: 0;
}

.hamburger-menu .menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* используем flex для центрирования содержимого */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* центрируем содержимое кнопки */
  position: fixed;
  top: 3px;
  right: 10px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 5;
}

.hamburger-menu .menu__btn > span,
.hamburger-menu .menu__btn > span::before,
.hamburger-menu .menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
}

.hamburger-menu .menu__btn > span::before {
  content: '';
  top: -8px;
}

.hamburger-menu .menu__btn > span::after {
  content: '';
  top: 8px;
}

.hamburger-menu .menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
  margin: 0;
  padding: 30px 0;
  list-style: none;
  text-align: center;
  background-color: black;
  -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  z-index: 3;
  opacity: 0.95;
}

.hamburger-menu .menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
}

.hamburger-menu .menu__item:hover {
  /* background-color: #CFD8DC; */
}

.hamburger-menu #menu__toggle:checked ~ .menu__btn > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.hamburger-menu #menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.hamburger-menu #menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.hamburger-menu #menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 0;
}

.hamburger-menu .menu__btn > span,
.hamburger-menu .menu__btn > span::before,
.hamburger-menu .menu__btn > span::after {
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.hamburger-menu .menu__box {
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.hamburger-menu .menu__item {
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

@media (max-width: 767px) and (orientation: landscape) {
  .menu {
    display: none;
    /* padding: 15px 30px;
    &_item {
      padding-right: 8px;
    }
    &_link {
      font-size: 12px;
        &:hover {
          display: none;
        }
    }  */
  }
  .hamburger-menu {
    display: block;
    width: 100%;
    height: 30px;
    background-color: black;
    position: fixed;
    z-index: 5;
  }
}

@media (max-width: 575px) {
  .menu {
    display: none;
  }
  .hamburger-menu {
    display: block;
    width: 100%;
    height: 30px;
    background-color: black;
    position: fixed;
    z-index: 5;
  }
}

.subheader {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
}

.subheader_logo {
  display: block;
  max-width: 100%;
  margin-top: 16px;
}

.subheader_official {
  margin-top: 6px;
  opacity: 0.5;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
}

.subheader_call {
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
  margin-top: 19px;
  text-align: right;
}

.subheader_phone {
  display: block;
  margin-top: 8px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: right;
  line-height: 12px;
}

.subheader .xs-visible {
  display: none;
}

@media (max-width: 767px) {
  .nav {
    height: 30px;
  }
  .subheader {
    top: 30px;
    height: 60px;
  }
  .subheader_logo {
    display: block;
    max-width: 200px;
    margin-top: 21px;
  }
  .subheader_logo_img {
    width: 200px;
    height: 20px;
  }
  .subheader_official {
    display: none;
  }
  .subheader_phone {
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 11px;
    text-decoration: none;
  }
  .subheader_call {
    display: none;
  }
  .subheader_btn {
    display: block;
    width: 110px;
    height: 22px;
    font-size: 9px;
    margin: 6px auto;
  }
  .subheader .xs-visible {
    display: block;
  }
  .xs-hidden {
    display: none;
  }
}

@media (max-width: 575px) {
  .subheader {
    top: 30px;
    height: 60px;
  }
  .subheader_logo {
    display: block;
    max-width: 130px;
    margin-top: 21px;
  }
  .subheader_logo_img {
    width: 130px;
    height: 15px;
  }
  .subheader_official {
    display: none;
  }
  .subheader_phone {
    text-align: start;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 11px;
    text-decoration: none;
  }
  .subheader_call {
    display: none;
  }
  .subheader_btn {
    width: 110px;
    height: 22px;
    font-size: 9px;
    margin-top: 6px;
  }
  .subheader .xs-visible {
    display: block;
  }
  .xs-hidden {
    display: none;
  }
}

.promo {
  min-height: 800px;
  background: url(/src/img/background.jpg) center center/cover no-repeat;
  padding: 150px 0 135px 0;
}

.promo_heading {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 60px;
  margin: 0;
  text-align: center;
}

.promo_subheading {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-top: 22px;
  text-align: center;
}

.promo_descr {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-top: 23px;
}

@media only screen and (min-width: 320px) and (max-width: 575px) {
  .promo {
    min-height: 400px;
    padding: 80px 0 35px 0;
  }
  .promo_heading {
    font-size: 30px;
    line-height: 1.2;
  }
  .promo_subheading {
    font-size: 20px;
  }
  .promo_descr {
    display: none;
  }
}

.reason {
  margin: 70px 0 116px 0;
}

.reason_img {
  float: left;
  width: 113px;
  height: 113px;
  background-color: #1eacc7;
  border-radius: 100%;
  padding: 20px;
}

.reason_item_subtitle {
  /*  font-family: Roboto; */
  font-size: 19px;
  line-height: 21px;
  font-weight: 400;
  color: #1eacc7;
  margin: 0 0 0 0;
  padding: 0 0 0 149px;
}

.reason_item_text {
  /* width: 343px; */
  font-size: 15px;
  line-height: 21px;
  font-weight: 300;
  color: #202020;
  text-align: justify;
  margin: 0px 0px 35px 149px;
}

.label {
  width: 112px;
  height: 24px;
  display: block;
  background-color: black;
  margin: 0 auto;
  font-size: 11px;
  /*  line-height: 68px;
    font-weight: 100; */
  text-transform: uppercase;
  color: #ffffff;
  border: none;
}

.label_white {
  color: black;
  background-color: white;
}

@media only screen and (min-width: 320px) and (max-width: 575px) {
  .reason {
    /*  margin-bottom: 50px; */
  }
  .reason .title {
    font-size: 14px;
  }
  .reason_img {
    display: block;
    margin: 25px auto;
    float: none;
  }
  .reason_item_subtitle {
    padding: 0;
  }
  .reason_item_text {
    margin: 0;
  }
}

.mobile {
  min-height: 864px;
  background: url(/src/img/bg/rectangle_20_142.jpg);
  margin: 0 auto;
}

.mobile .row {
  margin-top: 32px;
}

.mobile_item {
  position: relative;
  width: 100%;
  height: 280px;
  margin: 0 auto;
  margin-bottom: 19px;
  padding: 91px 0 0 0;
}

.mobile_item_1 {
  background: url(/src/img/1.jpg) center center/cover no-repeat;
}

.mobile_item_2 {
  background: url(/src/img/2.jpg) center center/cover no-repeat;
}

.mobile_item_3 {
  background: url(/src/img/3.jpg) center center/cover no-repeat;
}

.mobile_item_4 {
  background: url(/src/img/4.jpg) center center/cover no-repeat;
}

.mobile_item_5 {
  background: url(/src/img/5.jpg) center center/cover no-repeat;
}

.mobile_item_6 {
  background: url(/src/img/6.jpg) center center/cover no-repeat;
}

.mobile_item_subtitle {
  font-size: 24px;
  line-height: 31px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

.mobile_item_plus {
  position: absolute;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
  width: 26px;
  height: 26px;
  margin: 0 auto;
  bottom: 35px;
  left: 50%;
}

@media only screen and (min-width: 320px) and (max-width: 575px) {
  .mobile_item {
    width: 290px;
    height: 254px;
  }
}

.choice {
  position: relative;
  width: 100%;
  min-height: 895px;
  background: url(/src/img/bg/rectangle_20_142.jpg) center center/cover no-repeat;
  /*  background-size: 100px/100px ; */
  padding-top: 57px;
}

.choice_img {
  position: relative;
  display: block;
  margin: 0 auto;
  z-index: 2;
}

.choice_descr {
  position: relative;
  text-align: center;
}

.block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 499px;
  z-index: 1;
  background: #070716;
}

@media (max-width: 767px) {
  .choice_img {
    width: 100%;
  }
}

@media (max-width: 575px) {
  .choice_img {
    width: 100%;
  }
}

.title {
  position: relative;
  /* font-family: Roboto; */
  font-size: 38px;
  line-height: 48px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  text-align: center;
  z-index: 2;
}

.title_white {
  color: white;
}

.subtitle {
  position: relative;
  font-size: 17px;
  line-height: 21px;
  font-weight: 400;
  color: #222222;
  text-align: center;
  margin-top: 19px;
  z-index: 2;
}

.subtitle_white {
  color: white;
}

.require {
  padding: 68px 0 0 0;
}

.require_subtittle {
  font-size: 22px;
  line-height: 24px;
  font-weight: 400;
  color: red;
}

.require_subtittle_blue {
  color: #1ca8c3;
}

.list {
  list-style-type: none;
  /*  margin-bottom: 62px; */
}

.list_item_blue, .list_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 17px;
  font-weight: 300;
  line-height: 20px;
  padding-bottom: 14px;
}

.list_item_blue:before {
  content: url(/src/icons/chek.png);
  display: block;
  width: 21px;
  height: 20px;
  /* float: left; */
  margin-right: 10px;
}

.list_item:before {
  content: url(/src/icons/chek-red.png);
  display: block;
  width: 21px;
  height: 20px;
  margin-right: 10px;
}

.require_descr {
  font-size: 17px;
  font-weight: 300;
  color: #1ca8c3;
  padding-bottom: 62px;
}

.world {
  /* display: grid; */
  position: relative;
  min-height: 717px;
  background: url(/src/img/bg/map.jpg) center no-repeat, #080816;
  padding: 49px 0;
}

.world_link {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 26px;
  font-size: 15px;
  line-height: 68px;
  font-weight: 400;
  text-transform: uppercase;
  color: #1fbad6;
  text-decoration: none;
}

.footer {
  padding: 14px 0 0 0;
}

.footer_border {
  margin: 0 auto;
  width: 300px;
  border-top: 4px solid #1fbad6;
}

.footer_wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 160px;
}

.footer_social {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_social_img {
  width: 32px;
  height: 32px;
  display: block;
  background-color: black;
  padding: 7px;
  border-radius: 100%;
  margin-right: 10px;
}

.footer_links {
  width: 390px;
  max-width: 33%;
  text-align: center;
}

.footer_links_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  padding: 0 10px;
}

.footer_links_sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 10px;
}

.footer_link {
  text-decoration: none;
  /* color: #070716; */
}

.footer_link_black {
  color: #070716;
}

.footer_link_grey {
  color: #999999;
}

.footer_lang {
  margin-top: 19px;
}

.footer_lang_link {
  display: block;
  text-decoration: none;
  color: #1fbad6;
  font-size: 11px;
  /* font-weight: 400; */
  text-transform: uppercase;
}

.footer_loading {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 767px) {
  .footer_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer_social {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer_links {
    width: 70%;
    max-width: 100%;
    padding: 10px;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .footer_loading {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px;
  }
}

@media (max-width: 575px) {
  .footer {
    display: none;
  }
}
