$color-text1:  #ffffff;
%btn {
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #ffffff;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
}